

.somos{
    display: flex;
    justify-content: center;
}

.quadrado{
    background-color: #ffffff;
    width: 55%;
    
    padding: 60px 60px 0px 60px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
    margin-top: 60px;
    overflow: hidden;
}

.quadrado:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.titulo {
    color: #613387;
    font-size: 1.8em;
    font-weight: 400;
    
}

.p{
    color:#737280;
    padding: 5px;
    line-break: auto;
    line-height: 18px;

}



.img_somos1{
   position: relative;
   left: 58%;
    
}

.img_somos2{
   
   display: flex;
   align-items: center;
   justify-content: center;

}

.centralizacao{
    
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 
}


@media screen and (max-width: 980px){

    .quadrado{
        width: 65%;
        height: 80%;
    }
}


.centralizacao{
    
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}



.titulo{
    padding-bottom: 20px;
    font-weight: 900;
}

@media screen and (max-width: 1050px){
    .img_somos1{
        display: none;
    }

    .img_somos2{
        padding-top: 5px;
    }

    .titulo{
        padding-top: 15px;
    }
}

@media screen and (max-width: 375px){
    .quadrado{
        width: 62%;
    }
}

