@media screen and (max-width: 1023px) and (min-width: 441px) {

    .text, select  {
        width: 95%;
        padding: 12px 20px;
        margin: 8px 5px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
      }
      
      .centralizar{
      
        display: flex;
        justify-content: center;
        padding: 0px 0px 0px 40px;
      
      }
      
      .centralizar label{
      
        color: #613387;
        font-size: 12pt;
        font-weight: bold;
      
      }

      input[type=radio]{
        margin: 12px 15px;
      }
      
      label[for=macho], label[for=femea]{
        font-size: 12pt;
        color: #613387;
        font-weight: normal;
      }
      
      
      
      
      .button3 {
        width: 50%;
        background-color: #9A41A6;
        color: white;
        padding: 8px 25px;
        margin-top: 8px;
        margin-left: 26%;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 14pt;
        box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 14px 0 rgba(0,0,0,0.19);
      }
      
      
      
      .file {
        padding: 14px 1px;
      
      }
      
      
      
      .doar {
        border-radius: 15px;
        background-color: #E8ECF4;
        padding: 20px;
        width: 80%;
        max-width: 90%;
        margin: 5% 10%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
      
      }
      
      .doar h1{
        font-size: 18pt;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
        color: #613387;
      }
      
      

    
}