@media screen and (max-width:440px) {
    
    .text, select {
        width: 80%;
        padding: 12px 0px;
        margin: 8px 0px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
      }
      
      .centralizar{
      
        display: flex;
        justify-content: center;
        padding-left: 10%;
      
      }
      
      .centralizar label{
      
        color: #613387;
        font-size: 10pt;
        font-weight: 900;

      
      }

      input[type=radio]{
        margin: 12px 15px;
      }
      
      label[for=macho], label[for=femea]{
        font-size: 12pt;
        color: #613387;
        font-weight: 700;
      }
      
      .button3 {
        width: 50%;
        background-color: #9A41A6;
        color: white;
        padding: 8px 15px;
        margin-top: 8px;
        margin-left: 26%;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 12pt;
        box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 14px 0 rgba(0,0,0,0.19);
      }
      
      .doar {
        border-radius: 15px;
        background-color: #E8ECF4;
        padding: 15px;
        width: 100%;
        margin: 3%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
      
      }
      
      .doar h1{
        font-size: 18pt;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
        color: #613387;
      }

}