@media (min-width: 570px) and (max-width: 900px){

    .dog_eat{
        display: none;
    }
    
    
    .dogs_right{
        display: none;
            
     }
     
     .cat_left{
         display: none;
        
     }

     .dog_osso{
        width: 80%;
     }

       
    }

   @media (max-width: 569px){

        .dog_eat{
            display: none;
        }
        
        .dogs_right{
            display: none;
                
         }
         
         .cat_left{
             display: none;
            
         }

         .dogs_top{
            display: none;
         }
    
         .dog_osso{
            width: 90%;
         }

        

         .help{
            width: 70%;
           
        
        }

        .container{
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        

        .title_help{
    
            color: #613387;
            font-size: 1.4em;
           
        }
        
        
        .paragraf{
            color: #737280;
           
          
        }
        
        
        
        
        
        .paragraf2{
            color: #737280;
           
            margin-bottom: 20px;
        }
        
        
    

    }
