@media screen and (min-width:1024px) {
    
    .cartao{
        background-color: #E8ECF4;
        width: 60%;
        margin: 3%;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .perfil{

        clear: both;

    
    }

    .perfil img{

        width: 100%;
        border-radius: 15px 15px 0px 0px;
        height: 300px;

    }

    .cartao h1 {
        font-size: 2em;
        padding-bottom: 2%;
        /*padding-left: 10%;*/
        color: #613387;
    }
    .icon{
        padding-bottom: 2%;
        /*padding-left: 10%;*/
        color: #3A3B40;
        width: 6%;
    }

    .conteudo {
        padding-bottom: 5%;
        
    }

    .conteudo span {
       font-size: 10pt;
        color:#9A41A6;

    }

}