@media screen and (max-width:490px) {

    .button-modal{
        margin-top: 0.6rem;
        padding: 12px 30px;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        opacity: 0.9;
        font-size: 1rem;
        background-color: #9A41A6;
        color: white;
      }
      
      .button-modal:hover{

        box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 14px 0 rgba(0,0,0,0.19);
      
      }

      .button-modal2{
          margin-top: 15%;
          margin-left: 5%;
          padding: 5px 30px;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          opacity: 0.9;
          font-size: 8  pt;
          background-color: #9A41A6;
          color: white;
      }
      
      .button-modal2 a{
          text-decoration: none;
      
      }
      
      .modal {
          display: none; /* escondido por padrão */
          position: fixed; /* fixo na tela */
          z-index: 1; /* fica acima de outros elementos */
          left: 0;
          top: 0;
          width: 100%; /* ocupa toda a largura da tela */
          height: 100%; /* ocupa toda a altura da tela */
          overflow: auto; /* scroll se o conteúdo for maior */
          background-color: rgba(0,0,0,0.4); /* cor de fundo semi-transparente */
          padding-left: 20%;
          text-align: center;
          
        }
        
        .modal-content {
          background-color: #E8ECF4; /* cor de fundo branca */
          margin: 5% ; /* margem centralizada */
          padding: 2%; /* espaçamento interno */
          width: 50%; /* largura máxima */
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          text-decoration: none;
          text-align: center;
      
        }
      
        .modal-content .conteudo {
      
          padding: 0px 5%;
      
        }
      
        .modal-content .conteudo span{
      
          color: #9A41A6;
          font-size: 10pt;
          padding: 0px 10px 0px 0px;
      
        }
      
        .modal-content img{
      
          width: 100%;

        }
      
        .modal-content h1 {
          font-size: 30pt;
          color:#613387;
          padding-left: 5%;
          padding-bottom: 5%;
          margin-top: 5%;
        }
      
        .modal-content p {
          color: #737280;
          font-size: 10pt;
          padding-left: 5%;
          padding-bottom: 10px;
        }
      
        .mobile-icon{
          padding: 15px 0px 10px 15px;

        }

        .mobile-icon img {

          width: 8%;

        }
      
        .modal-content a{
          color: white;
          font-size: 10pt;
        }
      
        /*.modal-content h1, .modal-content p, .modal-content .icon{
          margin-top: 10%;
        }*/
        
        .close-modal {
          color: #aaa; /* cor cinza */
          float: right; /* flutua para a direita */
          font-size: 28px; /* tamanho da fonte */
          font-weight: bold; /* negrito */
        }
        
        .close-modal:hover, .close-modal:focus {
          color: black; /* cor preta ao passar o mouse */
          text-decoration: none; /* sem sublinhado */
          cursor: pointer; /* cursor de mãozinha */
        }
    
}