@media screen and (min-width: 1024px){
.button-modal{
  margin-top: 0.6rem;
  margin-left: 5%;
  padding: 12px 30px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1rem;
  background-color: #9A41A6;
  color: white;

}


.button-modal:hover{

  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 14px 0 rgba(0,0,0,0.19);

}

.button-modal2{
    margin-top: 10%;
    padding: 5px 40px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 10pt;
    background-color: #9A41A6;
    color: white;
}

.button-modal2 a{
    text-decoration: none;

}

.modal {
    display: none; /* escondido por padrão */
    position: fixed; /* fixo na tela */
    z-index: 1; /* fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* ocupa toda a largura da tela */
    max-width: 1800px ;
    height: 100%; /* ocupa toda a altura da tela */
    overflow: auto; /* scroll se o conteúdo for maior */
    background-color: rgba(0,0,0,0.4); /* cor de fundo semi-transparente */
    padding-left: 25%;

    
  }
  
  .modal-content {
    background-color: #E8ECF4; /* cor de fundo branca */
    margin: 15% auto; /* margem centralizada */
    padding: 3% 0%; /* espaçamento interno */
    width: 50%; /* largura máxima */
    border-radius: 15px;
    display: flex;
    float: left;
    text-decoration: none;
    justify-content: space-around;

  }

  .modal-content .conteudo {

    padding: 0px 5%;

  }

  .modal-content .conteudo span{

    color: #9A41A6;
    font-size: 12pt;


  }

  .modal-content img{

    width: 300px;

  }

  .modal-content h1 {
    font-size: 30pt;
    color:#613387;
    padding-left: 0;
    padding-bottom: 5%;
    margin-top: 5%;
  }

  .modal-content p {
    color: #737280;
    font-size: 10pt;
    padding-left: 0;
    padding-bottom: 10px;
  }

  .mobile-icon{
    padding: 15px 0px 10px 5px;

  }

  .mobile-icon img {

    width: 8%;

  }

  .modal-content a{
    color: white;
    font-size: 10pt;
  }

  /*.modal-content h1, .modal-content p, .modal-content .icon{
    margin-top: 10%;
  }*/
  
  .close-modal {
    color: #aaa; /* cor cinza */
    float: right; /* flutua para a direita */
    font-size: 28px; /* tamanho da fonte */
    font-weight: bold; /* negrito */
  }
  
  .close-modal:hover, .close-modal:focus {
    color: black; /* cor preta ao passar o mouse */
    text-decoration: none; /* sem sublinhado */
    cursor: pointer; /* cursor de mãozinha */
  }
}
