@import url('./header/header.css');
@import url('./header/nav.css');
@import url('./main/quero_adotar/quero_adotar.css');
@import url('./main/quero_adotar/card.css');
@import url('./main/quero_adotar/card_tablet.css');
@import url('./main/quero_adotar/card_mobile.css');
@import url('./main/quero_adotar/modal.css');
@import url('./main/quero_adotar/modal_tablet.css');
@import url('./main/quero_adotar/modal_mobile.css');
@import url('./main/doar_pet/doar_pet.css');
@import url('./main/doar_pet/doar_pet_tablet.css');
@import url('./main/doar_pet/doar_pet_mobile.css');
@import url('./main/help/help.css');
@import url('./main/help/help_img.css');
@import url('./main/main_carrosel/main.css');
@import url('./footer/footer.css');
@import url('./main/qm_somos/qm_somos.css');
@import url('./main/index/index.css');
@import url('./main/help/help900.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
   
}

body{
    background-color: #FFF4F4;
    font-family: 'Roboto', sans-serif;
   
}




a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol,
ul,li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
    font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    border-spacing: 0;
}

