@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;;
}

body{
    background-color: #FFF4F4;
}

.banner{
    width: 1280px;
    border-radius: 26px;
    
}
.meio, .butao, .texto, .subt, .card2{
    display: flex;
    justify-content: center;
}


.botao1, .botao2{
    width: 400px; 
    padding: 8px;
    margin: 5px;
}

.botao1{
    background-color: #613387;
    color: white;
    border: none;
    border-radius: 7px;
}
.botao2{
    background-color: #FFF4F4;
    color: #613387;
    border: 1.5px solid #613387 ;
    border-radius: 7px;
    
}

.texto{
    color: #613387;
    margin-right: 265px;
}
.subt{
    color:#737280 ;
    margin-left: 25px;

}

.botao1:hover{
    color: #613387;
    background-color: #FFF4F4;
    border: 1px solid #613387;
}

.botao2:hover{
    color: #fff;
    background-color: #613387;
}

.card{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  display: inline-block;
  margin: 15px;
  border-radius: 16px;
  
}

.container {
    padding: 2px 16px;
  }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pets{
    border-radius: 16px 16px 0px 0px;
}




